---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import StackStrip from "../components/StackStrip.astro";
import ValueProps from "../components/ValueProps.astro";
import Projects from "../components/Projects.astro";
import Experience from "../components/Experience.astro";
import Stats from "../components/Stats.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---
<Layout>
  <Nav />
  <main>
    <Hero />
    <StackStrip />
    <ValueProps />
    <Projects />
    <Experience />
    <Stats />
    <Contact />
  </main>
  <Footer />
  <script>
    import "../scripts/reveal.ts";
  </script>
</Layout>
